@use 'settings' as s;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: s.$font;
  color: s.$ink;
  background: s.$bg;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}
